.dash {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 700;
}

.about-us__description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: calc(34px + 0.3vw);
    line-height: calc(40px + 1vw);
    max-width: 1200px;
    padding: 130px 0 40px;
    margin-left: 15px;
    text-align: left;
}

@media (min-width: 990px) {
    .about-us__description {
        display: grid;
        font-size: calc(34px + 1.1vw);
        grid-template-columns: 50% 50% 50%;
        grid-row-start: 1;
        grid-row-end:   3;
        padding: 130px 20px 40px;
        margin: 0 auto;
    }
}

@media (min-width: 770px) {
    .about-us__description {
        display: grid;
        grid-template-columns: 50% 50% 50%;
        grid-row-start: 1;
        grid-row-end:   3;
        margin: 0 auto;
        padding: 110px 5px 40px 15px;
    }
}

@media (min-width: 980px) {
    .about-us__description {
        display: grid;
        grid-template-columns: 50% 50% 50%;
        grid-row-start: 1;
        grid-row-end:   3;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 40px;
    }
}

.about-us__title {
    color: var(--block-title-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.about-us__statement {
    color: var(--main-text-color);
    font-family: var(--block-title-font);
    font-weight: 700;
    padding: 0 15px;
}

.about-us__text {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    padding: 45px 15px 0;
}

.about-us__guided-tour {
    padding-bottom: 28px;
}

.about-us__days {
    color: var(--accent-text-color);
}

.about-us__container {
    background-image: url(../images/first-section/about-us-background.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    padding-bottom: 400px;
}

@media (min-width:770px) {
    .about-us__container {
        background-position: right center;
        background-size: cover;
        padding-bottom: 275px;
    }
}

.about-us__cards {
    padding: 100px 15px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    min-height: 400px;
    margin-left: 15px;
  }

@media (min-width:770px) {
    .about-us__cards {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        max-width: 1200px;
        max-height: 800px;
        align-items: center;
        padding-left: 15px;
        margin: 0 auto;
    }
}

@media (min-width:980px) {
    .about-us__cards {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        max-width: 1200px;
        max-height: 800px;
        align-items: center;
        margin: 0 auto;

    }

    .cards__text {
        font-size: 15px;
    }
}

.cards__title {
    color: var(--color-dark-main-bg);
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
    padding-top: 40px;
}

.cards__text {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 22px;
}

.cards__image-with-numbers {
    display: block;
    width: 50%;
    display: block;
    justify-content: left;
}

.cards__contact-us {
    background-color: var(--color-light);
    color: var(--main-text-color);
    padding: 10px 30px 30px;
    line-height: 24px;
}

.cards__pick-a-date {
    background-color: var(--color-light);
    color: var(--main-text-color);
    padding: 10px 30px 30px;
    line-height: 24px;
}

.cards__start-your-journey {
    background-color: var(--color-light);
    color: var(--main-text-color);
    padding: 10px 30px 30px;
    line-height: 24px;
}

.sale__timer {
    text-align-last: center;
    font-family: var(--block-title-font);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgr-color-blog);
    opacity: 1;
    padding: 10px 5px 40px;
    margin: 0 15px 0 30px;
}

.sale__title {
    font-size: 16px;
    color: var(--color-bgr-form);
    font-family: var(--main-font);
}

#countdown-timer {
    font-size: 34px;
    font-weight: 700;
    padding-top: 10px;
    color: var(--accent-color);
    text-shadow: 1px 1px 1px var(--color-bgr-form), 2px 2px 1px var(--color-bgr-form);
}

@media (min-width:770px) {
    .sale__timer {
        margin: 0 60px 0 60px;
    }
    
    .sale__title {
        font-size: calc(16px + 0.8vw);
        line-height: calc(40px + 1vw);
    }

}

@media (min-width:980px) {
    .sale__timer {
        margin: 0 210px 0 190px;
    }
    
    #countdown-timer {
        font-size: calc(34px + 2vw);
        line-height: calc(40px + 1vw);
    }
}
