.contact-book {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/eight-section/contactus-backgr.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
}

.contact-book.modal-open {
    filter: contrast(0.7) saturate(0.7);
}

.forma_container {
    background-color: var(--color-bgr-form);
    text-align: center;
}

.forma_container.modal-open {
    filter: contrast(0.7) saturate(0.7);
}

.contact-book__forma {
    padding: 10%;
    margin: 0;
}

.contact-book__forma.modal-open {
    filter: contrast(0.7) saturate(0.7);
}

.forma_container .section-title {
    margin-top: 10px;
    font-weight: bold;
    color: var(--block-title-color);
}

.contact-book__journey {
    margin-top: 18px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: var(--color-light);
    font-family: 'Times New Roman', Times, serif;
}

.contact-book__text {
    margin-top: 26px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
    color: var(--block-title-color);
}

.contact-book__input {
    margin-top: 24px;
    height: 40px;
    width: 100%;
    background: var(--bgr-color-input);
    color: var(--text-color-input);
}

.contact-book__input:focus {
    box-shadow: 0 0 2px 2px var(--border-color-input);
}

.input-date {
    font-size: 14px;
}

.btn_book_send {
    margin-top: 24px;
    height: 40px;
    width: 100%;
    background: var(--button-color);
    font-weight: bold;
    color: var(--color-light);
}

.contact-book {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/eight-section/contactus-backgr.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 90px;
}

.forma_container {
    background-color: var(--color-bgr-form);
    text-align: center;
}

.contact-book__forma {
    padding: 10%;
    margin: 0;
}

.forma_container .section-title {
    margin-top: 10px;
    font-weight: bold;
    color: var(--block-title-color);
}

.contact-book__journey {
    margin-top: 18px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: var(--color-light);
    font-family: 'Times New Roman', Times, serif;
}

.contact-book__text {
    margin-top: 26px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
    color: var(--block-title-color);
}

.contact-book__input {
    margin-top: 24px;
    height: 40px;
    width: 100%;
    background: var(--bgr-color-input);
    color: var(--text-color-input);
}
.input-date {
    font-size: 20px;
}
.contact-book__input:focus {
    box-shadow: 0 0 2px 2px var(--border-color-input);
}

.contact-book__input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: var(--text-color-input);
    font-size: 30px;
  }
.btn_book_send {
    margin-top: 24px;
    height: 40px;
    width: 100%;
    background: var(--button-color);
    font-weight: bold;
    color: var(--color-light);
}

.modal {
    background-color: var(--color-bgr-form);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    display: none;
    align-items: center;
    text-align: center;
    color: var(--color-light);
    padding-bottom: 3%;
}

.close-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 14px;
    color: var(--color-light);
    background: none;
}

.modal__mark {
    width: 10%;
    display: block;
    margin: 0 auto;

}

.modal__answer {
    margin: 20px;
}

.modal__thank {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}

.modal__descr {
    font-size: 13px;
    margin-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.btn_ok {
    margin-top: 24px;
    width: 80%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    background: var(--button-color);
    font-weight: bold;
    color: var(--color-light);
}

@media (min-width: 900px) {
    .contact-book {
        padding-right: 50%;
    }

    .forma_container {
        margin-left: 10%;
    }

    .modal {
        position: fixed;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 30%;
        display: none;
        align-items: center;
        text-align: center;
        color: var(--color-light);
        padding-bottom: 3%;
    }
    
    .btn_ok {
        margin-top: 30px;
        height: 35px;
    }

    .contact-book__input {
        height: 50px;
    }

    .btn_book_send {
        height: 50px;
    }
}