.header {
    background-image: url(../images/first-section/norway-bg.png);
    background-repeat: no-repeat;
}

.header__logo {
    font-size: 16px;
}

.header__title {
    font-size: 12px;
}

.header__topic {
    font-size: 70px;
}
