@import url(fonts.css);
@import "faq-section.css";

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --light: #fff;
    --dark-main-bg: #232428;
    --shadowed: rgba(255, 255, 255, 0.3);
}