<<<<<<< HEAD
@import url(null.css);
@import url(common.css);
@import url(variables.css);
@import url(faq.css);
=======
@import "null.css";
@import url(fonts.css);
@import url(header.css);
@import "faq-section.css";
>>>>>>> 4ab843436f7ff3707f0e798da154fe214037fbef
@import url(gallery.css);
@import url(places.css);
@import url(contact-book.css);

<<<<<<< HEAD
=======
body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-fonts-places: #505155;
    --accent-color: #d71212;
    --button-color: #14A9EE;
    --light: #fff;
    --dark-main-bg: #232428;
    --shadowed: rgba(255, 255, 255, 0.3);
}
>>>>>>> 4ab843436f7ff3707f0e798da154fe214037fbef
