.places {
    color: var(--color-fonts-places);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
    display: block;
    align-items: center;
}

.places__where {
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.places__ten_days {
    margin-top: 40px;
    font-size: 20px;
}

.places__menu {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    /* border-bottom: 2px solid transparent; */
}

.places__menu a.active-btn {
    border-bottom: 2px solid var(--accent-color);
}

.places__city_container {
    /* margin-top: 5px; */
    display: flex;
    flex-direction: column;
}
.noshow {
    display: none;
}
.places__btn-city {
    background-color: var(--color-light);
    color: var(--color-fonts-places);
    font-weight: bold;
    height: 52px;
    border: none;
    font-size: 20px;
}

.places__photo {
    align-items: center;
    width: 100%;
}

.places__descript {
    text-align: center;
}

.places__pointnumer {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.places__city_info {
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.places__city_hotel {
    margin-top: 20px;
    align-items: center;
    font-weight: bold;
}

.places__city_hotel p {
    display: inline-block;
}

.nights {
    color: var(--accent-color);
    font-size: 19px;
}

.hotel {
    margin-left: 20px;
    font-size: 15px;
}

.places__city_tourplan {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.service {
    display: flex;
    align-items: center;
}

.service__icon {
    width: 50px;
    margin-right: 10px;
}

.btn_book {
    background-color: var(--button-color);
    font-weight: bold;
    color: var(--color-light);
    width: 132px;
    height: 42px
}

@media (min-width: 900px) {
    .places {
        padding-left: 5%;
    }

    .places__ten_days {
        width: 70%;
        margin-bottom: 15px;
    }

    .places__city_container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 5%;
    }


    .places__menu {
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .places__btn-city {
        margin-right: 2%;
    }

    .btn_book {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .places__descript {
        position: relative;
        margin-left: 10%;
        text-align: left;
    }

}