.testimonials {
    color: var(--block-title-color);
}

.testimonials__container {
    max-width: 1200px;
    margin: 0 auto;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__sign {
}

.testimonials__title {
    font-size: calc(30px + (45 - 30) * (100vw - 320px) / (1200 - 320));
}

.testimonials__description {
    font-size: calc(16px + (19 - 16) * (100vw - 320px) / (1200 - 320));
}

.testimonials__slider {
}

.slider {
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__author {

}

.testimonials__photo {
}

.testimonials__name {
    font-size: calc(30px + (45 - 30) * (100vw - 320px) / (1200 - 320));
}

.testimonials__text {
}

.testimonial__review {
}

.testimonials__date {
}