:root {
    font-family: 'Roboto', sans-serif;
    --accent-color: #d71212;
    --button-color: #14A9EE;
    --border-color-input: #f7f7f7;
    --bgr-color-input: #252424;
    --color-fonts-places: #505155;
    --color-bgr-form: #000;
    --color-light: #fff;
    --color-dark-main-bg: #232428;
    --color-dark-input: #252424;
    --block-title-color: #6F7380;
    --color-shadowed: rgba(255, 255, 255, 0.3);
    --color-shadowed-header: rgba(255, 255, 255, 0.75);
    --color-text-header:  rgb(255, 255, 255);
    --accent-text-color: #14A9EE;
    --main-font: 'Roboto', sans-serif;
    --block-title-font: 'Playfair', serif;
    --bgr-color-blog: rgb(19, 18, 18, 0.5);
    --border-color-blog: rgb(241, 237, 237);

    scroll-behavior: smooth;
}