:root {
    font-family: 'Roboto', sans-serif;
    --accent-color: #d71212;
    --button-color: #14A9EE;
    --color-fonts-places: #505155;
    --color-light: #fff;
    --color-dark-main-bg: #232428;
    --color-shadowed: rgba(255, 255, 255, 0.3);
    --accent-text-color: #14A9EE;
    --main-font: 'Roboto', sans-serif;
    --block-title-font: 'Playfair', serif;
    scroll-behavior: smooth;
}